/* Navbar provisória. Responsável: Tabata */
.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 440px;
    height: var(--altura-navbar);
    background-color: var(--cor-fundo);
    border-top: 1px solid var(--cor-borda);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}
.navbar-item{
    text-decoration: none;
    color: var(--cor-texto-suave);
}
.navbar-item__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85rem;
}
.navbar-item:hover,
.navbar-item--ativo{
    color: var(--cor-primaria);
}
